*{
    font-family: "poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;

}
.logo img{
    height: 60px;
    width: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.heroimage img{
     /* background-color:#8d493a; */
     background-color: #A03A13;
    max-width: 400px;
     height: auto;
     margin-right: 30px;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
} 

.grid-two-cols{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    padding: 10px;
}
a{
    color:white;
    text-decoration: none;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* background-color: #8d493a; */
    background-color: #A03A13;
    /* position: fixed; */
    width: 100%;
    z-index: 5;
}
.navbar :where(#menu-close-button,#menu-open-button){
    display: none;
}
.navlist{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 25px;
  
    .listitem{
        padding: 10px;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        border-radius: 30px;
        
}
    .listitem:hover{
       
        background-color: #E5BA41;
       
       
}
}
.herosection{
    display: flex;
    justify-content: center;
    background-color: #A03A13;
    padding: 30px 20px 20px;
    padding-top: 70px;
    
    
    
    
}

.herocontent .heroheading{
    font-family: "Pacifico", cursive;
    color: #E5BA41;
    font-size: 32px;
}
.herocontent .subheading{
    font-size: 32px;
    color:white;
}
p{
    color:white;
    /* padding: 10px; */
    margin-top: 20px;
    /* text-align: center; */
    word-spacing: 1.5;
    font-size: 18px;
}
.herobuttons{
   display: flex;
    gap: 20px;
    margin-top:30px;
}
.herobutton{
     
    border: solid 2px white;
    border-radius: 30px;
    width: 130px;
    padding:7px;
    background-color:transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.herobutton:hover{
    background-color: white;
   
    a{
        color: black;
    }
}
.fa-solid{
    width: 30px;
    height: 20px;
    /* align-items: center; */
    padding: 5px;
}

/* section about  */
.section-content{
    margin: 0 auto;
    padding: 0 30px;
}
.about-section{
    padding: 100px 0px;
    background-color: #FDEDED;
    

}
.about-section .section-content{
    display: flex;
    gap: 60px;
}
.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about-section .section-title{
    font-size: 26px;
    text-align: center;
    padding: 60px 0 10px;
    text-transform: uppercase;
}
.about-section .section-title::after{
    content:"";
    width: 100px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background-color: #E5BA41;
}
 .about-section .about-details .text{
    margin: 40px 0 30px;
    line-height: 30px;
    color: black;
}
.about-section .about-details .social-link-list{
    display: flex;
    justify-content: center;
    gap: 25px;
    color: black;
}
.about-section .about-details .social-link-list .social-link{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    color: black;
}
.fa-brands{
    font-size: 30px;
}

.about-section .about-details .social-link-list .social-link:hover{
    color: #E5BA41;
    /* rotate: 360; */

}





   

    

    
    
/* responsive media queries*/
@media screen and (max-width: 900px) 
    {
.navbar .navlist{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: white;
        color: black;
        transition: left 0.4s ease;
        -webkit-transition: left 0.4s ease;
        -moz-transition: left 0.4s ease;
        -ms-transition: left 0.4s ease;
        -o-transition: left 0.4s ease;
 }
    .navbar .navlist a{
        color: black;
     } 
    .navbar :where(#menu-close-button,#menu-open-button){
        display: block;
        font-size: 18px;

    }
    .navbar #menu-close-button {
        position: absolute;
        right: 20px;
        top: 40px;
        background-color: white;
        border: none;
    }
     .navbar #menu-open-button {
      
        /* background-color: white; */
        border: none;

     }
        
body.show-mobile-menu .navbar .navlist{
    left: 0;

}
.herosection {
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
    text-align: center;
    /* margin: 30px; */
    padding: 30px 20px 20px;
}
.heroimage img{
    max-width: 300px;
    margin-right:0;
}
.herosection .herocontent .herobuttons{
    justify-content: center;
}
.herosection .herocontent .heroheading{
    max-width: 100%;
}

}






    
   
    

    

    
    
    
    
    


 